header.navbar
  nav
    ul.nav-links
      li: a(href="/old-home") Home
      li: a(href="/dataset/TSLA") Dataset
      li: a(href="/backtest/run?fast=5&slow=20") Backtest
      li: a(href="/login") Log in
      li: a(href="/signup") Sign up